<div class="mb-3 userachievements-admin-buttons">
    <button type="button" class="btn btn-primary userachievements-admin-buttons-rebuildallachievements">Rebuild all achievements</button>
    <button type="button" class="btn btn-primary userachievements-admin-buttons-purgealluserbadges">Purge all user badges</button>
</div>
{{{adminachievements}}}