<div class="infobox userachievements-badgeinfo-infobox">
    <div class="infobox-title">
        {{{title}}}
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td colspan="2" class="infobox-image">
                    <img src="{{image}}" alt="{{name}} badge" />
                </td>
            </tr>
            <tr>
                <th>Users with this badge</th>
                <td>{{usercount}}</td>
            </tr>{{#requiredstats}}
            <tr>
                <td colspan="2" class="infobox-table-section-heading">
                    Requirements
                </td>
                {{{requiredstats}}}
            </tr>{{/requiredstats}}
        </tbody>
    </table>
</div>