<div class="m-1 userachievements-badgethumbnail" style="display: none;">
    <a href="{{link}}">
        <img src="{{image}}" alt="{{name}}" title="{{description}}">
        <small>{{name}}</small>
    </a>
</div>