<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{pct}}%" aria-valuenow="{{currentvalue}}" aria-valuemin="0" aria-valuemax="{{requiredvalue}}"></div>
</div>
{{stat}}: {{currentvalue}}/{{requiredvalue}}<br/>