{{#card}}<div class="card userachievements-userbadges-card">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">
{{/card}}<div class="userachievements-userbadges">
            {{{userbadges}}}
        </div>{{#card}}
    </div>
    <div class="card-footer">
        <a href="{{progresslink}}"><small class="text-muted">{{progresslinktext}}</small></a>
    </div>
</div>{{/card}}